.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore compressed data files
*.gz
*.zip
inst/doc


# Ignore Pages cache files
pages/*_cache/
pages/*_files/


# Ignore JetBrains Idea folder
.idea/
/data-raw/data/*.csv


data-raw/__pycache__